﻿@model WebProject.Services.Contracts.Model.DTOs.CourseDTO

@{
    ViewBag.Title = "AddCourse";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    using (Html.BeginForm("AddCourse", "Course", FormMethod.Post))
     {
         <h2>Add Course</h2>
         <div class="form-group">
             <div class="row">
                 @Html.LabelFor(model => model.CourseName, "Course name", htmlAttributes: new {@class = "control-label col-md-2"})
                 <div class="col-md-6">
                     @Html.EditorFor(model => model.CourseName, new {htmlAttributes = new {@class = "form-control"}})
                     @Html.ValidationMessageFor(model => model.CourseName)
                 </div>
             </div>
         </div>

         <div class="form-group">
             <div class="row">
                 @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-2"})
                 <div class="col-md-6">
                     @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control"}})
                     @Html.ValidationMessageFor(model => model.Description)
                 </div>
             </div>
         </div>

         <div class="form-group">
             <div class="row">
                 @Html.LabelFor(model => model.StartDate, htmlAttributes: new {@class = "control-label col-md-2"})
                 <div class="col-md-6">
                     @Html.EditorFor(model => model.StartDate, new {htmlAttributes = new {@class = "form-control", @type = "date"}})
                     @Html.ValidationMessageFor(model => model.StartDate)
                 </div>
             </div>
         </div>

         <div class="form-group">
             <div class="row">
                 @Html.LabelFor(model => model.CourseGroupId, "Course group", htmlAttributes: new {@class = "control-label col-md-2"})
                 <div class="col-md-6">
                     @Html.DropDownListFor(model => model.CourseGroupId, new SelectList(ViewBag.CourseGroup, "CourseGroupId", "Description"), new {@class = "form-control"})
                 </div>
             </div>
         </div>

         <div class="form-group">
             <div class="row">
                 @Html.LabelFor(model => model.CourseTypeId, "Course type", htmlAttributes: new {@class = "control-label col-md-2"})
                 <div class="col-md-6">
                     <select class="select form-control" id="CourseTypeId" name="CourseTypeId">
                         <option value="1">Practical</option>
                         <option value="2">Lectures</option>
                     </select>
                 </div>
             </div>
         </div>

         <div class="form-group">
             <div class="row">
                 @Html.LabelFor(model => model.TrainerCourseGuids, "Trainer", htmlAttributes: new {@class = "control-label col-md-2"})
                 <div class="col-md-6">
                     @Html.ListBoxFor(model => model.TrainerCourseGuids, new MultiSelectList(ViewBag.Trainers, "TrainerId", "FullName"), new {@class = "form-control"})
                     @Html.ValidationMessageFor(model => model.TrainerCourseGuids)
                 </div>
             </div>
         </div>
         <div class="row resultButton">
             <input type="submit" id="confirm" class="form-control-btn btn btn-success">
             <a href="@Url.Action("Index", "Course")" class="form-control-btn btn btn-primary">Cancel</a>
         </div>
     }
}