﻿@model WebProject.Services.Contracts.Model.DTOs.CourseDTO

@{
    ViewBag.Title = "GetById";
}

<div class="col-9">
    <h5 class="card-title">@Html.DisplayFor(model => model.CourseName)</h5>
    <p class="card-text">
        Course Group:@Html.DisplayFor(model => model.CourseGroup.Description)<br>
        Description: @Html.DisplayFor(model => model.Description)<br>
        Start date: @Html.DisplayFor(model => model.FormatedStartDate)<br>
        End date: @Html.DisplayFor(model => model.FormatedEndDate)<br>
        Trainers: @foreach (var trainer in Model.TrainerCourses.Where(x => x.EndDate == null))
        {
            @trainer.Trainer.User.FullName<br>
        }
    </p>
    <a href="@Url.Action("Index", "Course")" class="btn btn-primary">Go back</a>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("DeleteCourse", "Course", new {courseId = Model.CourseId})" class="btn btn-danger">Delete</a>
        }
        if (User.IsInRole("Admin") || (User.IsInRole("Trainer") && Model.IsCanEdit))
        {
            <a href="@Url.Action("EditCourse", "Course",  new {courseId = Model.CourseId})" class="btn btn-warning">Edit</a>
        }
    }
</div>