﻿@model IEnumerable<WebProject.Services.Contracts.Model.DTOs.CourseDTO>


@{
    ViewBag.Title = "AllCourses";
}

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <a href="@Url.Action("AddCourse", "Course")" class="btn btn-info button">Add course</a>
    }
    if(User.IsInRole("Trainer"))
    {
    <a href="@Url.Action("MyCourses", "Course")" class="btn btn-info button">My courses</a>
    }
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Course group</th>
            <th>Trainers</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CourseName</td>
                <td>@item.FormatedStartDate</td>
                <td>@item.FormatedEndDate</td>
                <td>@item.CourseGroup.Description</td>
                <td>
                    @foreach (var trainer in item.TrainerCourses.Where(x => x.EndDate == null))
                    {
                        @trainer.Trainer.User.FullName<br>
                    }
                <td>
                    <a href=@Url.Action("GetById","Course", new{courseId = item.CourseId})>Show description</a>
                </td>
            </tr>

        }
    </tbody>
</table>