﻿@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <h2>Add Trainer</h2>

    <div class="form-group">
        <div class="row">
            <select class="select form-control" id="userSelect"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <select class="select form-control" id="trainerGroupSelect"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <input type="date" class="form-control" id="startDate" placeholder="StartDate:" aria-label="StartDate">
            <div class="invalid-feedback">
                Please enter Start Date.
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="trainerInfo" placeholder="TrainerInfo:" aria-label="TrainerInfo">
        <div class="invalid-feedback">
            Please enter trainer info.
        </div>
    </div>
    <div class="row resultButton">
        <button type="submit" id="confirm" class="form-control-btn btn btn-success">Confirm</button>
        <a href="@Url.Action("Index", "Trainer")" class="form-control-btn btn btn-primary">Cancel</a>
    </div>

    @section Scripts {
        @Scripts.Render("~/Scripts/CustromScripts/TrainerScripts/AddTrainer.js")
    }
}