﻿
@{
    ViewBag.Title = "EditTrainer";
}
@if (User.Identity.IsAuthenticated)
{
    <h2>Edit trainer</h2>

    <input id="userId" type="hidden" />
    <input id="trainerId" type="hidden" />
    <input id="endDate" type="hidden" />
    <div class="form-group">
        <input type="text" class="form-control" id="trainerInfo" placeholder="TrainerInfo:" aria-label="TrainerInfo">
        <div class="invalid-feedback">
            Please enter trainer info.
        </div>
    </div>
    if (User.IsInRole("Admin"))
    {
        <div class="form-group">
            <div class="row">
                <select class="select form-control" id="trainerGroupSelect"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <input type="date" class="form-control" id="startDate" placeholder="StartDate:" aria-label="StartDate">
                <div class="invalid-feedback">
                    Please enter start date.
                </div>
            </div>
        </div>
    }
    else
    {
        <input id="trainerGroupSelect" type="hidden"/>
        <input id="startDate" type="hidden"/>
    }
        <div class="row resultButton">
            @if (User.IsInRole("Admin"))
            {
                <button type="submit" id="confirm" isAdmin="true" class="form-control-btn btn btn-success">Confirm</button>
                <a href="@Url.Action("Index", "Trainer")" class="form-control-btn btn btn-primary">Cancel</a>
            }
            else
            {
                <button type="submit" id="confirm" isAdmin="false" class="form-control-btn btn btn-success">Confirm</button>
                <a href="@Url.Action("HomePage", "Trainers")" class="form-control-btn btn btn-primary">Cancel</a>
            }
        </div>

    @section Scripts {
        @Scripts.Render("~/Scripts/CustromScripts/TrainerScripts/EditTrainer.js")
    }
}