﻿
@{
    ViewBag.Title = "Trainer";
}
@model WebProject.Services.Contracts.Model.DTOs.TrainerDTO

@using (Html.BeginForm("GetTrainerById", "Trainer"))
{
    <div class="row">
        <div class="col-3">
            @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                      + Convert.ToBase64String(Model.User.Photo) + "\" />")
        </div>
        <div class="col-9">
            <h5 class="card-title">@Html.DisplayFor(model => model.User.FullName)</h5>
            <p class="card-text">
            <p>Email:@Html.DisplayFor(model => model.User.Email)<br></p>
            <p>Location: @Html.DisplayFor(model => model.User.Location)<br></p>
            <p>Trainer info: @Html.DisplayFor(model => model.TrainerInfo)<br></p>
            </p>
            <a href="@Url.Action("Edit", "Trainers", new{id = Model.TrainerId})" class="btn btn-warning">Edit</a>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/Scripts/CustromScripts/TrainerScripts/TrainerById.js")
}




