﻿
@{
    ViewBag.Title = "Trainer";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-3" id="photo">
            <img id="ItemPreview" src="" />
        </div>
        <div class="col-9">
            <h5 class="card-title" id="title"></h5>
            <p class="card-text" id="cardText">
            </p>
            <button type="button" class="btn btn-primary" id="goBack">Go back</button>
            <button type="button" class="btn btn-danger" id="delete">Delete</button>
            <button type="button" class="btn btn-warning" id="edit">Edit</button>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/Scripts/CustromScripts/TrainerScripts/TrainerById.js")
    }
}




