﻿@{
    ViewBag.Title = "Trainer Page";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <button type="button" class="btn btn-primary" id="addUser">Add trainer</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Trainer Group</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="trainers" id="trainers"></tbody>
    </table>
    @section Scripts {
        @Scripts.Render("~/Scripts/CustromScripts/TrainerScripts/Index.js")
    }
}

