﻿.navbar {
    width: 100%;
    height: 105px;
    border-bottom: 2px solid #eef0f1;
}

.navbar-inverse .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: #343a40 !important;
}

body {
    font-family: RobotoRegular,sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    min-width: 1560px;
}

.card {
    height: 100%;
    text-align: center;
}

.body-content {
    margin-top: 20px;
}

.row {
    margin-top: 20px !important;
}

.form-control {
    width: 666px;
    margin: auto;
}

.resultButton {
    width: 666px;
    margin: auto;
}

.form-control-btn {
    width: 200px;
    margin: auto;
}

.col-sm-3 {
    padding-bottom: 15px !important;
}

img {
    margin: auto;
    width: 200px !important;
    height: 180px !important;
}

.table {
    margin-top: 10px;
}

.invalid-feedback {
    text-align: center;
}

.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.fired {
    color: red;
}

.auth {
    float: right!important;
}