﻿@using WebProject.Services.CustomPrincipal
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body id="main_div">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Users centre", "Index", "User", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Trainers centre", "", "Trainers", new { area = "" }, new { @class = "navbar-brand" })
                }
                if (User.IsInRole("Trainer"))
                {
                    @Html.ActionLink("Home page", "HomePage", "Trainers", new { area = "" }, new { @class = "navbar-brand" })
                }
            }

            @Html.ActionLink("Courses", "Index", "Course", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        @if (User.Identity.IsAuthenticated)
        {
        <div class="auth">
            <h4 class="name navbar-brand">@((User as CustomPrincipal).FullName)</h4>
            @Html.ActionLink("Logout", "Logout", "Users", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        }
        else
        {
            @Html.ActionLink("Login", "Login", "Users", new { area = "" }, new { @class = "navbar-brand auth" })
        }
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "User")</li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p></p>
        </footer>
    </div>
</body>
@Scripts.Render("~/Scripts/CustromScripts/UserScripts/Constants.js")
</html>

