﻿@model WebProject.Services.Contracts.Model.InputModels.UserModel
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="form-group has-feedback">
        <input type="text" class="form-control" id="fullName" placeholder="FullName:" aria-label="FullName" aria-describedby="inputSuccess2Status">
        <div class="invalid-feedback">
            Please enter Name.
        </div>
    </div>
    <div class="form-group">
        <input type="file" class="form-control" id="photo" placeholder="Photo:" aria-label="Photo">
        <div class="invalid-feedback">
            Please load Photo.
        </div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="email" placeholder="Email:" aria-label="Email" aria-describedby="inputSuccess2Status">
        <div class="invalid-feedback">
            Please enter email.
        </div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="login" placeholder="Login:" aria-label="Login" aria-describedby="inputSuccess2Status">
        <div class="invalid-feedback">
            Please enter login.
        </div>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="pass" placeholder="Pass:" aria-label="Pass" aria-describedby="inputSuccess2Status">
        <div class="invalid-feedback">
            Please enter password.
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <input type="date" class="form-control" id="startDate" placeholder="StartDate:" aria-label="StartDate" aria-describedby="inputSuccess2Status">
            <div class="invalid-feedback">
                Please enter date.
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <select class="select form-control" id="roleSelect"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <select class="select form-control" id="departamentSelect"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <input type="text" class="form-control" id="location" placeholder="Location:" aria-label="Location" aria-describedby="inputSuccess2Status">
            <div class="invalid-feedback">
                Please enter location.
            </div>
        </div>
    </div>
    <div class="row resultButton">
        <button type="button" id="confirm" class="form-control-btn btn btn-success">Confirm</button>
        <button type="button" id="cancel" class="form-control-btn btn btn-danger">Canlcel</button>
    </div>

    @section Scripts {
        @Scripts.Render("~/Scripts/CustromScripts/UserScripts/AddUser.js")
    }
}


