﻿
@{
    ViewBag.Title = "EditUser";
}
@using System.Activities.Statements
@model WebProject.Services.Contracts.Model.DTOs.UserDTO

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <h2>EditUser</h2>

    <input id="userId" type="hidden" value="@Model.UserId" />
    <input id="delete" type="hidden" data-value="@Model.IsDelete" value="@Model.IsDelete" />
    <input id="delete" type="hidden" data-value="@Model.Pass" value="@Model.Pass" />
    <div class="form-group">
        <input type="text" class="form-control" value='@Model.FullName' id="fullName" placeholder="FullName:" aria-label="FullName" aria-describedby="inputSuccess2Status">
        <div class="invalid-feedback">
            Please enter Name.
        </div>
    </div>
    <div class="form-group">
        <input type="file" class="form-control" id="photo" value='@Convert.ToBase64String(Model.Photo)' placeholder="Photo:" aria-label="Photo">
        <div class="invalid-feedback">
            Please load Photo.
        </div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" value='@Model.Email' id="email" placeholder="Email:" aria-label="Email">
        <div class="invalid-feedback">
            Please enter email.
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <select class="select form-control" value-id='@Model.Role' id="roleSelect"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <select class="select form-control" value-id='@Model.DepartamentTypeId' id="departSelect"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <input type="text" class="form-control" value='@Model.Location' id="location" placeholder="Location:" aria-label="Location">
            <div class="invalid-feedback">
                Please enter location.
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" value='@Model.Login' id="login" placeholder="Login:" aria-label="Login">
        <div class="invalid-feedback">
            Please enter login.
        </div>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" value='@Model.Pass' id="pass" placeholder="Pass:" aria-label="Login">
        <div class="invalid-feedback">
            Please enter password.
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <input type="date" class="form-control" value-data='@Model.FormatedDate' id="startDate" placeholder="StartDate:" aria-label="StartDate">
            <div class="invalid-feedback">
                Please enter date.
            </div>
        </div>
    </div>
    <div class="row resultButton">
        <button type="submit" id="confirm" class="form-control-btn btn btn-success">Confirm</button>
        <a href="@Url.Action("Index", "User")" class="form-control-btn btn btn-primary">Cancel</a>
    </div>

    @section Scripts {
        @Scripts.Render("~/Scripts/CustromScripts/UserScripts/EditUser.js")
    }
}