﻿
@{
    ViewBag.Title = "User";
}
@model WebProject.Services.Contracts.Model.DTOs.UserDTO

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    using (Html.BeginForm("GetUserById", "User"))
    {
        <div class="row">
            <div class="col-3">
                @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                          + Convert.ToBase64String(Model.Photo) + "\" />")
            </div>
            <div class="col-9">
                <h5 class="card-title">@Html.DisplayFor(model => model.FullName)</h5>
                <p class="card-text">
                    Email:@Html.DisplayFor(model => model.Email)<br>
                    Location: @Html.DisplayFor(model => model.Location)<br>
                    Start date: @Html.DisplayFor(model => model.FormatedDate)<br>
                    @if (Model.IsDelete)
                    {
                        <span class="fired">Fired</span>
                    }
                </p>
                <a href="@Url.Action("Index", "User")" class="btn btn-primary">Go back</a>
                <button type="button" data-id="@Model.UserId" class="btn btn-danger" id="delete">Delete</button>
                <button type="button" data-id="@Model.UserId" class="btn btn-warning" id="edit">Edit</button>
            </div>
        </div>

    }

    @section Scripts {
        @Scripts.Render("~/Scripts/CustromScripts/UserScripts/UserById.js")
    }
}



