﻿@{
    ViewBag.Title = "User Page";
}

@model List<WebProject.Services.Contracts.Model.DTOs.UserDTO>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    using (Html.BeginForm("Index", "User"))
    {
        <a href="@Url.Action("AddUser", "User")" class="btn btn-info button">Add user</a>
        <div class="row">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="col-sm-3">
                    <div class="card">
                        @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                                  + Convert.ToBase64String(Model[i].Photo) + "\" />")
                        <div class="card-body">
                            <h5 class="card-title">Name: @Model[i].FullName</h5>
                            <p class="card-text">
                                Email: @Model[i].Email<br>
                                @if (Model[i].IsDelete)
                                {
                                    <span class="fired">Fired</span>
                                }
                            </p>
                            <a href="@Url.Action("GetUserById", "User", new {id = Model[i].UserId})" class="btn btn-primary">Full info</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}
