﻿@model WebProject.Services.Contracts.Model.InputModels.LoginUserModel
@{
    ViewBag.Title = "LoginUser";
}
@using (Html.BeginForm("LoginUser", "User", FormMethod.Post))
{
    <h3>Login User</h3>
    <div class="form-group">
        <div class="row">
            @Html.LabelFor(model => model.Login, "Login", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Login)
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            @Html.LabelFor(model => model.Pass, "Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Pass, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                @Html.ValidationMessageFor(model => model.Pass)
            </div>
        </div>
    </div>

    <div class="row resultButton">
        <input type="submit" id="confirm" class="form-control-btn btn btn-success">
        <a href="@Url.Action("Index", "Course")" class="form-control-btn btn btn-primary">Cancel</a>
    </div>
}
